.container {
    height: 100vh;  
    max-width: 992px;
    margin: 0 auto;
    padding: 2.5rem 2rem;

    display: flex;
    flex-direction: column;

    animation: home-appear 1000ms backwards;
}

.container section {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6.25rem;
    align-content: center;
}

.container section > div:first-child {
    animation: profile-appear 1000ms backwards;
}

.container section > div:last-child {
    animation: challenge-appear 1000ms backwards;
}


@media(max-width: 770px) {
    .container {
        animation: none;
    }

    .container section > div:first-child,
    .container section > div:last-child {
        animation: none;
    }


    .container section {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem 0;
        margin: 4rem 0 0;
    }
    
    .container section > div {
        width: 100%;
    }
}

@keyframes home-appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes profile-appear {
    from {
        opacity: 0;
        -webkit-transform: translateX(-70%);
    }
    
    to {
        opacity: 1;
    }
}

@keyframes challenge-appear {
    from {
        opacity: 0;
        -webkit-transform: translateX(70%);
    }

    to {
        opacity: 1;
    }
}
